@import url('https://fonts.googleapis.com/css?family=Montserrat|Source+Sans+Pro&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  color: #d6d6d6;
}
body {
  background-color: #2a2a2a;
}
h1,h2,h3,h4,h5,h6 {
  text-align: center;
  color: #f0f0f0;
  font-family: 'Montserrat', sans-serif;
}
a {
  text-decoration: none;
}
.section-name {
  margin-bottom: 60px;
  font-size: 32px;
  position: relative;
}
.section-name::before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  height: 4px;
  transform: translate(-50%, 0);
  background-color: #1cff00a0;
  width: 140px;
}
.background-container {
  padding-top: 60px;
}
header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 64px;
  background: #111;
  display: grid;
  grid-template-columns: 20% 80%;
  z-index: 999;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
header .btn {
  display: none;
}
.logo {
  position: relative;
}
.logo img {
  height: 60px;
  position: relative;
  margin-left: 20%;
}
.logo .adress {
  position: absolute;
  top: 0;
  left: calc(20% + 70px);
  font-size: 12px;
  line-height: 150%;
}
.menu {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.menu-element {
  width: 100%;
  line-height: 60px;
  text-align: center;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.menu-element:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.menu-element:nth-of-type(6):hover {
  background: none;
}
.menu-element a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
.welcome-block {
  width: 100%;
  height: 100vh;
  background-color: #1a1a1a;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  overflow: hidden;
  padding: 20px;
  text-align: left;
}
.welcome-block .wrapper {
  width: 508px;
  font-size: 18px;
  word-spacing: 3px;
  z-index: 1;
}
.welcome-block h2 {
  position: relative;
  font-size: 100px;
  margin-bottom: 15px;
}
.price-list {
  width: 100%;
  padding: 4vh 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  padding-top: 0;
}
.price-block {
  background-color: #00000070;
  width: 80%;
  max-width: 900px;
  padding: 20px 40px;
}
.price-block h3 {
  text-align: left;
}
.price-block hr {
  width: 70%;
  margin: 4px 0;
}
.price-block .container {
  display: -webkit-inline-flex;
  display: -ms-inline-flex;
  display: inline-flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
  margin: 20px 0;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}
.price {
  padding: 8px 10px;
  background-color: #00000070;
  text-align: center;
  font-weight: bold;
  flex: auto;
  margin: 2px;
}
.price p {
  font-size: 22px;
}
.price p:nth-of-type(2) {
  font-size: 30px;
  color: #1cff00a0;
}
.price-block > h4 {
  text-align: left;
  margin-top: 10px;
}
.achievements {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-around;
  -ms-align-items: center;
  align-items: center;
  border-top: 6px #111 solid;
  border-bottom: 6px #111 solid;
}
.achievement {
  background-color: #1a1a1a;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
  text-align: center;
  flex-grow: 1;
  height: 120px;
  border-right: 6px #111 solid;
  position: relative;
  cursor: default;
}
.achievement:last-child {
  border: none;
}
.achievement.active, .achievement:hover {
  flex-grow: 2;
}
.achievement p {
  position: absolute;
  width: 100%;
  bottom: 30px;
  opacity: 0;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
}
.achievement.active p, .achievement:hover p {
  opacity: 1;
  color: #1cff00a0;
}
.achievement i {
  position: absolute;
  font-size: 22px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.achievement.active i, .achievement:hover i {
  font-size: 30px;
  transform: translate(-50%, -120%);
  color: #1cff00a0;
}
footer {
  background-color: #212121;
  padding: 20px;
  text-align: center;
  color: #555;
  font-size: 14px;
}
.contact-block {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 10px 10%;
  grid-gap: 20px;
  padding-bottom: 50px;
}
.contact {
  display: grid;
  grid-template-columns: 10% 90%;
}
.contact p {
  font-size: 20px;
  display: inline-block;
}
.contact i {
  font-size: 30px;
  color: #1cff00a0;
}
.contact a {
  color: #1cff00a0;
  position: relative;
  font-weight: bold;
}
.contact a::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  background-color: #1cff00a0;
  height: 2px;
  width: 0;
}
.contact a:hover::before {
  width: 100%;
}
.ymaps-2-1-74-ground-pane {
  filter: brightness(.9) invert(100%) grayscale(.3) hue-rotate(260deg);
  -ms-filter: brightness(.9) invert(100%) grayscale(.3) hue-rotate(260deg);
  -webkit-filter: brightness(.9) invert(100%) grayscale(.3) hue-rotate(260deg);
  -moz-filter: brightness(.9) invert(100%) grayscale(.3) hue-rotate(260deg);
  -o-filter: brightness(.9) invert(100%) grayscale(.3) hue-rotate(260deg);
}
#map {
  width: 100%;
  height: 440px;
}
#iconContent {
  color: #eaeaea;
  width: 80px;
  padding: 3px 4px;
  font-size: 17px;
  font-weight: 600;
}
.ymaps-2-1-74-hint__text * {
  font-size: 14px;
  color: #444;
}
.bg-gradient {
  background: linear-gradient(-45deg, #111, #222);
  background: -webkit-linear-gradient(-45deg, #111, #222);
  background: -ms-linear-gradient(-45deg, #111, #222);
  background: -moz-linear-gradient(-45deg, #111, #222);
  background: -o-linear-gradient(-45deg, #111, #222);
}
.grd {
  background-image: linear-gradient(-45deg, #000c, #111c), url('images/grd.jpg');
  background-image: -webkit-linear-gradient(-45deg, #000c, #111c), url('images/grd.jpg');
  background-image: -ms-linear-gradient(-45deg, #000c, #111c), url('images/grd.jpg');
  background-image: -o-linear-gradient(-45deg, #000c, #111c), url('images/grd.jpg');
  background-image: -moz-linear-gradient(-45deg, #000c, #111c), url('images/grd.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.bdr {
  background-image: linear-gradient(-45deg, #000c, #111c), url('images/bdr.jpg');
  background-image: -webkit-linear-gradient(-45deg, #000c, #111c), url('images/bdr.jpg');
  background-image: -ms-linear-gradient(-45deg, #000c, #111c), url('images/bdr.jpg');
  background-image: -o-linear-gradient(-45deg, #000c, #111c), url('images/bdr.jpg');
  background-image: -moz-linear-gradient(-45deg, #000c, #111c), url('images/bdr.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.lounge {
  background-image: linear-gradient(-45deg, #000c, #111c), url('images/lounge.jpg');
  background-image: -webkit-linear-gradient(-45deg, #000c, #111c), url('images/lounge.jpg');
  background-image: -ms-linear-gradient(-45deg, #000c, #111c), url('images/lounge.jpg');
  background-image: -o-linear-gradient(-45deg, #000c, #111c), url('images/lounge.jpg');
  background-image: -moz-linear-gradient(-45deg, #000c, #111c), url('images/lounge.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.hall {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: 'h h h h h h h h h h h h'
                       '. d d d d d i i i i i i';
  width: 100%;
  padding-top: 100px;
}
.hall h2 {
  grid-area: h;
}
.description {
  grid-area: d;
}
.description p {
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
  padding-left: 10px;
  position: relative;
}
.description p i, .description p img {
  font-size: 28px;
  position: absolute;
  left: -36px;
  top: -4px;
  color: #1cff00a0;
}
.description p img {
  width: 42px;
  height: auto;
  top: -8px;
  opacity: .7;
}
.description ul {
  margin: 8px 0;
  margin-left: 10px;
}
.description ul li {
  padding: 3px 0;
}
.hall img {
  grid-area: i;
  margin: auto;
}
.vip-hall {
  grid-template-areas: 'h h h h h h h h h h h h'
                       'i i i i i i . d d d d d';
  padding-bottom: 100px;
}
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: #000c;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  display: none;
}
.modal {
  background-color: #2a2a2a;
}
.modal h2 {
  padding: 25px 20px;
  border-bottom: 8px #1cff00 solid;
  background-color: #181818;
}
.modal form {
  padding: 25px 50px;
}
.modal input {
  width: 100%;
  margin: 10px 0;
  padding: 6px;
  color: #222;
  font-size: 18px;
  background-color: #f5f5f5;
  border: 1px #666 solid;
}
.modal input[type=button] {
  background-color: transparent;
  color: #f5f5f5;
  border: 1px #f5f5f5 solid;
  outline: none;
  cursor: pointer;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.modal input[type=button]:hover {
  background-color: #f5f5f566;
}
