@import url('https://fonts.googleapis.com/css?family=Montserrat|Source+Sans+Pro&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  color: #d1d1d1;
}
body {
  background-color: #2a2a2a;
}
h1,h2,h3,h4,h5,h6 {
  text-align: center;
  color: #f0f0f0;
  font-family: 'Montserrat', sans-serif;
}
a {
  text-decoration: none;
  color: #fff;
}
p {
  color: #d6d6d6;
}
.section-name {
  margin-bottom: 60px;
  font-size: 32px;
  position: relative;
}
.section-name::before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  height: 4px;
  transform: translate(-50%, 0);
  background-color: #1cff00a0;
  width: 140px;
}
.background-container {
  padding-top: 60px;
}
header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 64px;
  background: #111;
  display: grid;
  grid-template-columns: 30% 70%;
  z-index: 999;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
header .btn {
  display: none;
}
.logo img {
  height: 60px;
  position: relative;
  margin-left: 20%;
}
.menu {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.menu-element {
  width: 100%;
  color: #fff;
  line-height: 60px;
  text-align: center;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.menu-element:hover {
  background-color: rgba(255, 255, 255, 0.2);
  text-shadow: 0 0 10px #14ff00;
}
.menu-element a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
.welcome-block {
  width: 100%;
  height: 100vh;
  background-color: #1a1a1a;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  overflow: hidden;
}
.welcome-block h2 {
  position: relative;
}
.welcome-block h2::after, .welcome-block h2::before {
  content: '';
  width: 220px;
  height: 220px;
  border-radius: 50%;
  border: 2px #aaa6 solid;
  border-right-style: dashed;
  border-left-style: dashed;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  animation: spining1 6s infinite linear;
}
.welcome-block h2::before {
  width: 320px;
  height: 320px;
  animation: spining2 6s infinite linear;
}
.price-list {
  width: 100%;
  padding: 4vh 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  padding-top: 0;
}
.price-block {
  background-color: #00000070;
  width: 80%;
  max-width: 800px;
  padding: 20px;
}
.price-block h3 {
  text-align: left;
}
.price-block hr {
  width: 70%;
  margin: 4px 0;
}
.price-block .container {
  display: -webkit-inline-flex;
  display: -ms-inline-flex;
  display: inline-flex;
  justify-content: space-around;
  -ms-align-items: center;
  align-items: center;
  margin: 20px 0;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 70%;
  float: left;
}
.price-block .information {
  width: 25%;
  display: inline-block;
  float: right;
}
.price {
  padding: 8px;
  background-color: #00000070;
  text-align: center;
  font-weight: bold;
}
.price p {
  font-size: 22px;
}
.price p:nth-of-type(2) {
  font-size: 30px;
  color: #108f00;
}
.price-block > h4 {
  text-align: left;
  margin-top: 10px;
  clear: both;
}
.price-block .information > h4 {
  text-align: left;
  margin-bottom: 5px;
}
.media-container .information {
  display: none;
}
.achievements {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-around;
  -ms-align-items: center;
  align-items: center;
  border-top: 6px #111 solid;
  border-bottom: 6px #111 solid;
}
.achievement {
  background-color: #1a1a1a;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
  text-align: center;
  color: #fff;
  flex-grow: 1;
  height: 120px;
  border-right: 6px #111 solid;
  position: relative;
  cursor: default;
}
.achievement:last-child {
  border: none;
}
.achievement.active {
  flex-grow: 2;
}
.achievement p {
  position: absolute;
  width: 100%;
  bottom: 30px;
  opacity: 0;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
}
.achievement.active p {
  opacity: 1;
}
.achievement i {
  position: absolute;
  font-size: 22px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.achievement.active i {
  font-size: 30px;
  transform: translate(-50%, -120%);
}
footer {
  background-color: #212121;
  padding: 20px;
  text-align: center;
  color: #555;
  font-size: 14px;
}
.contact-block {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 10px 10%;
  grid-gap: 20px;
  padding-bottom: 50px;
}
.contact {
  display: grid;
  grid-template-columns: 10% 90%;
}
.contact p {
  font-size: 20px;
  display: inline-block;
}
.contact i {
  font-size: 30px;
  color: #1cff00a0;
}
.contact a {
  color: #1cff00a0;
  position: relative;
  font-weight: bold;
}
.contact a::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  background-color: #1cff00a0;
  height: 2px;
  width: 0;
}
.contact a:hover::before {
  width: 100%;
}
.ymaps-2-1-74-ground-pane {
  filter: brightness(.9) invert(100%) grayscale(.5) hue-rotate(280deg);
  -ms-filter: brightness(.9) invert(100%) grayscale(.5) hue-rotate(280deg);
  -webkit-filter: brightness(.9) invert(100%) grayscale(.5) hue-rotate(280deg);
  -moz-filter: brightness(.9) invert(100%) grayscale(.5) hue-rotate(280deg);
  -o-filter: brightness(.9) invert(100%) grayscale(.5) hue-rotate(280deg);
}
#map {
  width: 100%;
  height: 440px;
}
#iconContent {
  color: #eaeaea;
  width: 80px;
  padding: 3px 4px;
  font-size: 17px;
  font-weight: 600;
}
.ymaps-2-1-74-hint__text * {
  font-size: 14px;
  color: #444;
}
.bg-gradient {
  background: linear-gradient(-45deg, #111, #222);
  background: -webkit-linear-gradient(-45deg, #111, #222);
  background: -ms-linear-gradient(-45deg, #111, #222);
  background: -moz-linear-gradient(-45deg, #111, #222);
  background: -o-linear-gradient(-45deg, #111, #222);
}
.sky {
  background-image: linear-gradient(-45deg, #111b, #222b), url('images/grd.jpg');
  background-image: -webkit-linear-gradient(-45deg, #111b, #222b), url('images/grd.jpg');
  background-image: -ms-linear-gradient(-45deg, #111b, #222b), url('images/grd.jpg');
  background-image: -o-linear-gradient(-45deg, #111b, #222b), url('images/grd.jpg');
  background-image: -moz-linear-gradient(-45deg, #111b, #222b), url('images/grd.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
